
.custom-nav-link{
    font-family: $paragraph-font;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-white;
}
.button-text{
    font-family: $paragraph-font;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: $color-white;
}
.heading1-text{
    font-family: $header-font;
    font-style: normal;
    font-weight: normal;
    font-size: 98px;
    line-height: 100px;
    color: $color-white;
    margin: 0;
    padding: 0;
}
.heading2-text{
    font-family: $paragraph-font;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.1em;
    color: $button1-color;
    margin: 0;
    padding: 0;
}
.heading3-text{
    font-family: $header-font;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 67px ;
    color: $paragraph-color;
    margin: 0;
    padding: 0;
}
.paragraph-text{
    font-family: $paragraph-font;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 40px;
    color: $paragraph-color;
    margin: 0;
    padding: 0;
}
.about-question{
    font-family: $paragraph-font;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
    color:$paragraph-color;
    margin: 0;
    padding: 0;
}
.collaps-header{
    font-family: $paragraph-font;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color:$paragraph-color;
}
.collaps-paragraph{
    font-family: $paragraph-font;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: $paragraph-color;
}
.slide-para{
    font-family: $paragraph-font;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    color: $paragraph-color;
}
.copi-right{
    font-family: $paragraph-font;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: $paragraph-color;
}